:focus {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  background: #1D976C;
  background: -webkit-linear-gradient(right, #1D976C, #93F9B9);
  background: -o-linear-gradient(right, #1D976C, #93F9B9);
  background: linear-gradient(to left, #1D976C, #93F9B9);
}

h1 {
  font-size: 2.5em;
  margin: 0 auto 2% auto;
  font-weight: 300;
}

p {
  margin-top: 0;
}

button {
  border: .15em solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  vertical-align: top;
  padding: .4em;
  display: block;
  width: 50%;
  margin: 0 auto;
}

button:hover {
  background-color: #fff;
  color: #1D976C;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

input {
  padding: .45em;
  background-color: transparent;
  border: .15em solid #fff;
  color: #fff;
  font-size: 1.2em;
  vertical-align: top;
  width: 100%;
  margin-bottom: 2%;
}

::-webkit-input-placeholder { color:rgba(255,255,255,.5); }
::-moz-placeholder { color:rgba(255,255,255,.5);}
:-ms-input-placeholder { color:rgba(255,255,255,.5);}
input:-moz-placeholder { color:rgba(255,255,255,.5);}

#container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

#inner-wrapper {
  margin-top: 50%;
}

#output {
  text-transform: capitalize;
  margin-top: 5%;
  font-size: 1.2em;
  line-height: 1.5;
}

/* Media Queries */
@media (min-width: 578px) {
  input {
    width: auto;
  }
  button {
    width: auto;
    display: inline-block;
  }
}

